## Concrete5
files/cache/*
files/tmp/*

## Sublime files
*.sublime-project
*.sublime-workspace
sftp-config.json

# Exclude the osx file attributes
.DS_Store

# Exclude any Adobe Photoshop, Indesign or Illustrator source
*.psd
*.indd
*.ai

# Exclude log files
*.log

## Apache
.htaccess
